body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica;
	font-size: 1.0em;
}

div {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: 0;
}

video {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

img {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

h1 {
	font-size: 7.0em;
	font-style: italic;
	font-weight: bold;
	line-height: 90px;
	color: #ffffff;
}

.bubble {
	background-image: url('media/bubble.png');
	background-repeat: no-repeat;
	background-size: contain;
}

/* Main Screen */

#main_screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}


/* Sub Screens */

#sub_screens {
	position: absolute;
	background-color: #000000;
	z-index: 2;
}

#sub_screens > div {
	position: relative;
	width: 100%;
	float: left;
}

#header_wrapper {
	padding: 6%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	left: 5%;
}

#header_wrapper > div {
	position: absolute;
}

