body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica;
	font-size: 1.0em;
}

div {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: 0;
}

video {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

img {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

/* Main Screen */

#main_screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}



/* Sub Screens */

#sub_screens {
	position: absolute;
	background-color: #000000;
	z-index: 2;
}

#sub_screens > div {
	position: relative;
	float: left;
}

